@model KonigLabs.LevisJeans.Models.CustomerVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        function viewTerm() {
            if (submitVal())
                window.location = '/Home/Term?' + $('.registration').serialize();
        }

        $("#Phone").mask("+7 (999) 999-9999");

        $('#reg').submit(function(e) {
            e.preventDefault();
            if (validate())
                this.submit();
        });

        $('input').change(function () {
            if (isValid() && $('.form-btn').hasClass('invalid'))
                $('.form-btn').removeClass('invalid');
            else if (!isValid() && !$('.form-btn').hasClass('invalid'))
                $('.form-btn').addClass('invalid');
        });

        function validate() {
            if ($('#FirstName').val().length === 0) {
                toastr.info('Заполните, пожалуйста, Имя.');
                return false;
            }
            if ($('#LastName').val().length === 0) {
                toastr.info('Заполните, пожалуйста, Фамилию.');
                return false;
            }
            if ($('#Email').val().length === 0) {
                toastr.info('Заполните, пожалуйста, Email.');
                return false;
            }
            if (!isValidEmailAddress($('#Email').val())) {
                toastr.info('Укажите, пожалуйста, верный Email.');
                return false;
            }
            if ($('#Phone').val().length === 0) {
                toastr.info('Заполните, пожалуйста, Телефон.');
                return false;
            }
            if ($('#Phone').val().length !== 17 || $('#Phone').val().indexOf('_') !== -1) {
                toastr.info('Укажите, пожалуйста, верный номер телефона.');
                return false;
            }
            if (!$('#terms').prop('checked')) {
                toastr.info('Вы должны согласиться на обработку данных.');
                return false;
            }
            return submitVal();
        }

        function submitVal() {
            if ($('#FirstName').val().length > 50) {
                toastr.info('Имя не может быть длинее 50 символов.');
                return false;
            }
            if ($('#LastName').val().length > 50) {
                toastr.info('Фамилия не может быть длинее 50 символов.');
                return false;
            }
            if ($('#MiddleName').val().length > 50) {
                toastr.info('Отчество не может быть длинее 50 символов.');
                return false;
            }
            if ($('#Email').val().length > 100) {
                toastr.info('Email не может быть длинее 100 символов.');
                return false;
            }
            return true;
        }

        function isValid() {
            if ($('#FirstName').val().length === 0) {
                return false;
            }
            if ($('#LastName').val().length === 0) {
                return false;
            }
            if ($('#Email').val().length === 0) {
                return false;
            }
            if (!isValidEmailAddress($('#Email').val())) {
                return false;
            }
            if ($('#Phone').val().length === 0) {
                return false;
            }
            if ($('#Phone').val().length !== 17 || $('#Phone').val().indexOf('_') !== -1) {
                return false;
            }
            if (!$('#terms').prop('checked')) {
                return false;
            }
            if ($('#FirstName').val().length > 50) {
                return false;
            }
            if ($('#LastName').val().length > 50) {
                return false;
            }
            if ($('#MiddleName').val().length > 50) {
                return false;
            }
            if ($('#Email').val().length > 100) {
                return false;
            }
            return true;
        }

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i);
            return pattern.test(emailAddress);
        };
    </script>
}

<style>
    .form-btn.invalid {
        background: gray;
        border-color: gray;
    }
</style>

<header></header>
<section>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "registration", id = "reg", novalidate = true}))
    {
        @Html.TextBoxFor(p => p.FirstName, new {placeholder = "Имя"})
        @Html.TextBoxFor(p => p.LastName, new {placeholder = "Фамилия"})
        @Html.TextBoxFor(p => p.MiddleName, new {placeholder = "Отчество"})
        @Html.TextBoxFor(p => p.Email, new {placeholder = "Email", type = "email"})
        @Html.TextBoxFor(p => p.Phone, new {placeholder = "Телефон", type = "phone"})
        <p class="terms">
            <input type="checkbox" id="terms" class=""> <label for="terms"></label>
            <span onclick="viewTerm();">Согласие на хранение и обработку данных</span>
        </p>
        <input type="submit" class="form-btn invalid" value="Ваш номер">
    }
</section>