<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Levis</title>
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    <meta name="author" content="KonigLabs" />
    @*<link rel="shortcut icon" href="../favicon.ico">*@
    @Styles.Render("~/Content/admin-css")
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/admin-js")
    @RenderSection("scripts", required: false)
</body>
</html>
